.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr;
  gap: 1em;
  grid-template-areas:
    "header"
    "description"
    "bar"
    "image"
    "gallery";
}


.header-container {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-lightBlue);
  padding: 0px 0px 0px 20px;
}

.description-container {
  grid-area: description;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--color-lightBlue);
  gap: 20%;
  text-align: center;
  padding: 20px;
}

.horizontal-slider {
 grid-area: bar;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border-top: 2px solid var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
  padding: 10px 0;
}

.image-container {
  grid-area: image;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid var(--color-lightBlue);
  text-align: left;
  padding: 20px;
  gap: 50px;
}

.gallery {
  grid-area: gallery;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  gap: 20px;
  justify-content: center;
  margin-bottom: 60px;
}

h1{

color: var(--color-darkBlue);
font-family: var(--font-ArchivoBlack);
font-weight:1000;
letter-spacing: -4px;
}


.links{


font-family: var(--font-EncodeSansCondensed);
text-transform: uppercase;
text-align: left;
}

.links h4{
color: var(--color-darkBlue);



}

.links a{
    
display: flex;
flex-direction: column;
color: var(--color-lightBlue);
font-size: x-small;




}

.description {
display: flex;
flex-direction: column;



}
.paragraphs{
    display: flex;
    gap: 20px;
    text-align: left;
    color: var(--color-darkBlue);
    font-family: var(--font-EncodeSansCondensed);
 
}
p{
 
   flex: 1; 

}

.image-container .paragraphs{
    font-size: var(--h4);
font-family: var(--font-EncodeSansCondensed);
letter-spacing: -1px;
}


.slider-track {
  display: flex;
  width: max-content; 
  animation: scroll 25s linear infinite; 
}

.slide-text {
  flex: none;
  white-space: nowrap; 
  margin: 0;
  padding: 0 50px; 
  font-size: xx-large;
  font-weight: bold;
  color: var(--color-orange);
}




.img-card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 300px;
width: 250px;
border: solid 1px var(--color-lightBlue);

}


.img-card img {
   
 padding-top: 10px ;
  width: 90%;
  height: 90%;
}  

.img-card a{
color: var(--color-orange);
text-transform: uppercase;
font-family: var(--font-ArchivoBlack);
letter-spacing: -2px;

}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); 
  }
}

@media (max-width: 768px) {
    .paragraphs p {
        font-size: 0.8rem; 
    }

    .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (max-width: 480px) {
    .paragraphs {
        flex-direction: column; 
    }

    .paragraphs p {
        font-size: 0.8rem;
    }
    .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.logo img{
  height: 100px;
}